
.header{
    width:100%;
    height: 10vh;
    transition: all .15s linear;
}
.scrolled{
    position: fixed;
    top:0;
    left:0;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}