
.header{
    width:100%;
    min-height: 70px;
    display:flex;
    align-items: center;
    background-color: #fff;
}

.header-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    align-items:  space-between;
}

.scrolled{
    width:100%;
    transition: all .8s linear;
    position: fixed;
    top:0;
    left:0;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}